{% extends 'main.html' %}

{% block section %}

{% for message in messages%}
<div class="message">
    <h2>{{message.description}}</h2>
    <a href="{% url 'delete' message.id %}">Delete</a>
    <a href="{% url 'edit' message.id %}">Edit</a>
</div>
{% endfor %}

<form action="" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Sent">
</form>

{% endblock %}

{% block nav %}

<div class="contact_list">
    {% for user in users %}
    <div class="contact_user">
        <a href="{% url 'profile:profile' user.id %}">{{user}}</a>
    </div>
    {% endfor %}


</div>

{% endblock %}