{% extends 'main.html' %}

{% block section %}

{% for message in messages%}
<div class="{% if message.author == request.user %}message_author{% else %}message{% endif %}">
    <h6>--{{message.author}}</h6>
    <h6>--{{message.created}}</h6>
    <h2>{{message.description}}</h2>
    <a href="{% url 'chat:delete' message.id %}">Delete</a>
    <a href="{% url 'chat:edit' message.id %}">Edit</a>
</div>
{% endfor %}

<form action="" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Sent">
</form>

{% endblock %}

{% block nav %}

<div class="contact_list">
    {% for user in users %}
    <div class="contact_user">
        <a href="{% url 'profile:profile' user.username %}">{{user}}</a>
    </div>
    {% endfor %}


</div>

{% endblock %}