body {
    margin: 0px;
}

.message_box {
    width: 100%;
}

.message {
    clear: both;
    background-color: pink;
    width: 20%;
    float: left;
    margin-top: 5px;

}

.message_author{
    clear: both;
    background-color: cyan;
    width: 20%;
    float: right;
    margin-top: 5px;
}

.messsage_sent{
    padding-top: 20px;
    clear: both;
}

#main_head {
    text-align: left;
    float: left;
    width: 50%;
}

#logging_head {
    text-align: right;
    float: left;
    width: 50%;
}

nav {
    width: 30%;
    float:left;
}

.contact_user{
    margin: 2%;
}
.room_name {
    margin: 2%;
}


section {
    width: 70%;
    float:left;
    margin-bottom: 60px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0px;
    background-color: aquamarine;
    text-align: center;
}