body {
    margin: 0px;
}

.message {
    background-color: pink;
    width: 20%;
}

.message_author{
    background-color: cyan;
    width: 20%;
}

#main_head {
    text-align: left;
    float: left;
    width: 50%;
}

#logging_head {
    text-align: right;
    float: left;
    width: 50%;
}

.contact_user{
    margin: 2%;
}

nav {
    width: 30%;
    float:left;
}

section {
    width: 70%;
    float:left;
    margin-bottom: 60px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0px;
    background-color: aquamarine;
    text-align: center;
}